.container {
    position: relative;
    flex-direction: column;
}

/* ============================================
   TÍTULO
============================================ */
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo h1 {
    font-size: 8em;
    font-weight: 900;
    color: var(--text-primary);
}
.titulo h2 {
    font-family: 'Molle', cursive;
    color: var(--color-orange);
}

/* ============================================
   CARROSSEL
============================================ */
.carrossel {
    display: flex;
    width: 100%;
    cursor: grab;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 20em 0;
}
.slide {
    width: 350px;
    height: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
    transition: 0.5s ease;
    border-radius: 15px;
}
.slide img {
    position: absolute;
    width: inherit;
    height: inherit;
    object-fit: cover;
    -webkit-box-reflect: below 2px
    linear-gradient(to top, rgba(0,0,0,0.5), transparent 20%);
    border-radius: 15px;
}
.slide span {
    display: inline-block;
    position: absolute;
    font-size: 2.5em;
    mix-blend-mode: difference;
    color: #FFF;
    bottom: 15%;
    left: 2%;
    text-transform: uppercase;
    font-weight: 900;
    transform: translate(-25%, -50%) rotate(-90deg);
}
.slide.leonardo span,
.slide.leonardo span {
    font-size: 2em;
} 
.pedro {
    background-image: url(../images/pinguim.png);
}
.kaue {
    background-image: url(../images/pinguim.png);
}
.leonardo {
    background-image: url(../images/pinguim.png);
}
.ryan {
    background-image: url(../images/pinguim.png);
}
.liandro {
    background-image: url(../images/pinguim.png);
}
.voltar {
    margin-left: auto;
    right: 80%;
}
.avancar {
    margin-right: auto;
    left: 80%;
}
.voltar,
.avancar {
    position: absolute;
    padding: 30px;
    font-size: 1.5em;
}
.popup {
    position: absolute;
    background-color: var(--bg-tertiary);
    left: 105%;
    top: 10%;
    border-radius: 10px;
    opacity: 0;
    z-index: 20;
    padding: 20px;
    pointer-events: none;
}
.popup.active_popup {
    opacity: 1;
    pointer-events: auto;
}